source_up .envrc
export _dep_target=$(basename $(/bin/pwd))
export _dep_target_path=${_dep_target_type_path}/${_dep_target}
export PGPASSFILE=$HOME/.toolbelt/${_dep_target_type}/${_dep_target_path}/.pgpass
export PGSERVICEFILE=$HOME/.toolbelt/${_dep_target_type}/${_dep_target_path}/.pg_service.conf
