source_up .envrc
export _prov=$(basename $(/bin/pwd) | tr '[:upper:]' '[:lower:]')
export _prov_envvar_prefix=$(basename $(/bin/pwd) | tr '[:lower:]' '[:upper:]')
export _prov_path=${_env_path}/${_prov}

# Provider-specific environment variable name mappings
case ${_prov} in
  aws)
    export _region_env_var_name=AWS_REGION
    export _id_env_var_name=AWS_ACCOUNT
    export _profile_env_var_name=AWS_PROFILE
    export _needs_profile=true
    ;;
  gcp)
    export _region_env_var_name=CLOUDSDK_COMPUTE_REGION
    export _id_env_var_name=GOOGLE_CLOUD_PROJECT
    export _profile_env_var_name=CLOUDSDK_ACTIVE_CONFIG_NAME
    export _needs_profile=true
    ;;
  azure)
    export _region_env_var_name=AZURE_DEFAULTS_LOCATION
    export _id_env_var_name=AZURE_SUBSCRIPTION_ID
    export _profile_env_var_name=""
    export _needs_profile=false
    ;;
esac
