source_up .envrc
export _prov=$(basename $(/bin/pwd) | tr '[:upper:]' '[:lower:]')
export _prov_envvar_prefix=$(basename $(/bin/pwd) | tr '[:lower:]' '[:upper:]')
export _prov_path=${_env_path}/${_prov}
